/* CONtAiners */
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.container-header {
    display: block;
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    justify-content: center;align-items: center;
}
/*-----------------HEADER START----------------- */
.header_s{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
    z-index: 999;
}

.nav{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    padding-right: 28px;
}
.search_item{
    display: none;
}
.hamburger{
    cursor: pointer;
}
.hamburger:hover .line{
    transition: .5s;
    background-color: #f84444;
}
.line{
    width: 15px;
    height: 2px;
    background-color: #7c7e88;
    transition: .5s;
}
.line:nth-of-type(2n){
    margin: 3px 0;
}
/* ----------!!!!!!!!!_---------------// HEADER_S -------------*/
/*--------------INTRO SECTION START CSS--------------------*/
.intro_s{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.intro_s:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/intro/intro_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.intro_s:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    z-index: -1;
}
.intro_s__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*BTN CLASS*/
.btn{
    font-family: 'Raleway-ExtraBold';
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    color: #fff;
    width: 188px;
    height: 35px;
    transition: .5s;
    position: relative;
    overflow: hidden;
}
.btn:after{
    content: 'inside our studio';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f84444;
    color: white;
    z-index: 1;
    transition: .5s;
}
.btn:before{
    content: 'inside our studio';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: #f84444;
    z-index: 1;
    transition: .5s;
    transform: translateY(100%);
}
.btn:hover{
    color: #fff;
    transition: .5s;
}
.btn:hover:after{
    transform: translateY(-100%);
    transition: .5s;
}
.btn:hover:before{
    transform: translateY(0);
    transition: .5s;
}
/*BTN CLASS:FINISHED*/
.title{
    font-family: 'Raleway-Bold';
    font-size: 35px;
    padding-top: 25px;
    color: #fff;
    letter-spacing: 75px;
    margin-left: 75px;
}
.intro_s__arrow{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
/* ABOut-US section */
.about_us_s{
    padding: 140px 0 170px 0;
   
}
.title_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title_block img {
    margin-bottom: 30px;
}
.title_block h2 {
    font-family: 'Raleway-ExtraBold';
    font-size: 25px;
    text-transform: uppercase;
    color: #2c2e37;
    text-align: center;
    width: 30%;
    line-height: 33px;

}
.content_block {
    padding-left: 73px;
}
.content_block h3 {
    font-family: 'Raleway-ExtraBold';
    font-size: 20px;
    text-transform: uppercase;
    line-height: 43px;
    color: #2c2e37;
}
.content_block p {
    width: 60%;
}
.text {
    font-size: 14px;
    line-height: 26px;
    font-family: 'OpenSans-Light';
    color: #343434;


}
.about_us_s__wrap .flex-container:nth-child(2) {
    padding-top: 112px;
}
.about_us_s__wrap .flex-container:nth-child(3) {
    padding-top: 50px;
}
.about_us_s__wrap .flex-container:nth-child(4) {
    padding: 165px 0 55px 80px;
    
}
.img_wrap img{
    height: 400px;
    width: 570px;

}
.about_us_s__wrap .flex-container:nth-child(4) p:first-child {
        padding: 0 100px 0 0;
}
.btn_wrap {
    display: flex;
    justify-content: center;
}
.btn_wrap a {
    width: 130px;
    height: 40px;
    background-color: #f84444;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Raleway-ExtraBold';
    color: #fff;
    margin-right: 19px;
}
.btn_wrap a:last-child {
    margin: 0;
    border: 2px solid #e6e6e6;
    background-color: transparent;
    color: #8b8b8b;
}
.btn_wrap a:hover {
    width: 130px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: #ff0000;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Raleway-ExtraBold';
    color: rgb(255, 255, 255);
    margin-right: 19px;
}
.btn_wrap a:last-child:hover {
    margin: 0;
    border: 2px solid #ec3131;
    background-color: transparent;
    color: #8b8b8b;
}
/* PROJECT SECTION */
.project_s {
    position: relative;
}
.project_s:after {
    content: '';
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #2c2e37;
    z-index: -1;
}
.project_s:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    top: 0;
    left: 50%;
    background-color: #dfdfdf;
    transform: translateY(-50%);
}

.project_s__title {
    font-size: 23px;
    font-family: 'Raleway-ExtraBold';
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 1;
    padding-top: 127px;
    
}
.project_s__wrap > p {
    color: #fff;
    width: 60%;
    margin: 0 auto;
    padding: 15px 0 25px 0;
}
.project_img {
    width: 95.6%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 0 auto;
}
.project_img__first {
    width: 600px;
    height: 600px;
}
.project_img__second {
    width: 450px;
    height: 450px;
}
.text_title {
    width: 575px;
    height: 205px;
    color: #343434;
}
.review {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.case_title {
    padding-left: 27px;
}
.case_title__wrap {
    font-size: 23px;
    font-family: 'Raleway-ExtraBold';
    line-height: 44px;
    text-transform: uppercase;
    color: #343434;
    padding: 57px 0 0 0;
}
.case_title > p {
    font-size: 14px;
    line-height: 26px;
    font-family: 'OpenSans-Light';
    color: #949494;
    width: 70%;
    margin: 0;
    padding: 30px 0 0 0;
}
/* TIME REVIEW */
.case_title__time {
    padding: 50px 0 0 0;
    width: 300px;
    height: 22px;
}
.case_title__text {
    font-family: 'OpenSans-Italic';
    font-size: 14px;
    color: #949494;
}
.case_title__text img {
    margin-right: 9px;
    transform: translateY(2px);
}
.case_number {
    margin: 100px 0 0 0;
    width: 60%;
    display: flex;
    justify-content: space-between;

}
.line2 {
    width: 402px;
    margin: 7px 10px 0 0;
    height: 1px;
    background-color: #dfdfdf;
}
.case_number p:nth-child(2n){
    font-family: 'Raleway-Bold';
    font-size: 16px;
    color: #dedede;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.case_number p:nth-child(3){
    font-family: 'Raleway-Bold';
    font-size: 16px;
    color: #939497;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.ourjournal_s {
    max-width: 1440px;
    width: 1075px;
    display: flex;
    align-items: center;
    margin-top: 120px;
}
.ourjournal_wrap p{
   width: 70%;
   line-height: 26px;
   padding: 10px 0 0 0;

}
.btn_jorn {
width: 130px;
height: 40px;
background-color: #f84444;
text-align: center;
line-height: 40px;
text-transform: uppercase;
font-size: 12px;
font-family: 'Raleway-ExtraBold';
color: #fff;
margin: 30px 19px 0 0;

}
.ourjournal_img {
    position: relative;
    width: 754px;
    height: 580px;
   transform: translateX(50px);
}
.ourjournal_img img:nth-child(2) {
    position: absolute;
    bottom: -100px;
    left: -88px;
}
/* TEAM SECTION */
.team_s {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 275px;
    /* width: 1140px; */
}
.team_s__title {
    margin-bottom: 120px;
}
.team_s__title img {
    transform: translateX(25%);
}
.people_s {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    width: 100%;
    justify-content: space-between;
}
.people {
    width: 330px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 60px;
}
.people h2 {
    font-family: 'Raleway-ExtraBold';
    font-size: 15px;
    color: #2c2e37;
    padding-top: 20px;
}
.people h3 {
    font-family: 'Raleway-Medium';
    font-size: 15px;
    color: #2c2e37;
    line-height: 30px;
    margin-top: -20px;
    text-transform: uppercase;
}
.line4 {
    width: 30px;
}
.people > img:nth-child(1) {
    width: 330px;
    height: 330px;
}
.people > img:nth-child(2) {
    width: 30px;
}
.people div > a > img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}
.people p {
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 26px;
    color: #949494;
    padding-right: 65px;
}
.brands {
    max-width: 1140px;
   width: 100%;
}
.brands > img {
   margin: 0 10% 0 0;
}
.brands > img:nth-last-child(1) {
    margin: 0;
 }
.footer_s {
    max-width: 1440px;
    width: 100%;
    height: 300px;
    margin-top: 75px;
    background-color: #2c2e37;
}
.footer_container {
    max-width: 100%;
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 85px;
}
.footer_logo a img {
    width: 20px;
}
.footer_container img {
    width: 25px;
}
.footer_container h3 {
    font-family: 'Raleway-Medium';
    font-size: 15px;
    color: #c8c8c9;
    line-height: 30px;
    margin-top: 0px;
    text-transform: uppercase;
}
.footer_container p {
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 26px;
    color: #c8c8c9;
    padding-right: 65px;
}
.footer_container li {
    position: relative;
    color: white;
    font-size: 13px;
    font-family: 'OpenSans-Light';
    line-height: 40px;
}
.footer_container a {
    color: white;
}
.footer_container input {
    width: 335px;
    height: 40px;
    padding: 5px;
    background-color: transparent;
    color: #42434b;
    border: 2px solid #42434b;
    margin-top: 20px;
}
.footer_container li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: .5s;
}
.footer_container li:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: .5s;
}
.footer_container li:hover::after {
    width: 100%;
    transition: .3s;
}
.footer_container li:hover::before {
    width: 100%;
    transition: .3s;
}