.intro_s {
    max-width: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    top: 0;
    @include flex(column, center, center, nowrap);
    background-image: url(../img/intro/intro_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .btn {
        position: relative;
        top: 0;
        text-align: center;
        width: 188px;
        height: 35px;
        overflow: hidden;
        
    }
    .btn:before {
        content: 'inside our studio';
        font-family: 'Raleway-ExtraBold';
        position: absolute;
        top:-100%;
        right: 0;
        width: 188px;
        height: 35px;
        background-color: #ff5d5d;
        text-align: center;
        text-transform: uppercase;
        @include font(17px, bold, 35px, #f3f2f2);
        transition: .5s;
    }
    .btn:hover::before {
        transform: translateY(100%);
        transition: .5s;
    }
    .btn:after {
        content: 'inside our studio';
        font-family: 'Raleway-ExtraBold';
        position: absolute;
        top: 0;
        right: 0;
        width: 188px;
        height: 35px;
        background-color: #f84444;
        text-align: center;
        text-transform: uppercase;
        @include font(17px, bold, 35px, #f3f2f2);
        transition: .5s;
    }
    .btn:hover::after {
        transform: translateY(100%);
        transition: .5s;
    }
    h1 {
        width: 760px;
        height: 28px;
        @include font(35px, Bold, 50px, #fff);
        font-family: 'Raleway-Bold';
        text-transform: uppercase;
        letter-spacing: 73px;
    }
}
.arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    animation: arrow .5s infinite alternate;
}
.top {
    position: fixed;
    bottom: 10%;
    right: 5%;
    
}